Repository tomcounsell/django-project-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-makemigrations-check, django-test-critical

Path conditions:
  django-makemigrations-check: any of: models\.py$ and \.py$ and not ((?x)^(
  .*\.egg-info/.*|
  \.git/.*|
  \.venv/.*|
  venv/.*|
  build/.*|
  dist/.*|
  staticfiles/.*|
  media/.*|
  node_modules/.*|
  htmlcov/.*|
  \.coverage|
  \.pytest_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  .*\.pyo|
  .*\.mo|
  .*\.pot|
  .*\.log|
  .*\.sqlite3|
  .*\.db|
  \.env.*|
  \.DS_Store
)$
)
  django-test-critical: any of: \.py$, but not: (?x)^(
  .*\.egg-info/.*|
  \.git/.*|
  \.venv/.*|
  venv/.*|
  build/.*|
  dist/.*|
  staticfiles/.*|
  media/.*|
  node_modules/.*|
  htmlcov/.*|
  \.coverage|
  \.pytest_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  .*\.pyo|
  .*\.mo|
  .*\.pot|
  .*\.log|
  .*\.sqlite3|
  .*\.db|
  \.env.*|
  \.DS_Store
)$


Isolate PydanticAI implementation and remove ChatFeedback model
  apps/ai/admin.py
  apps/ai/migrations/0001_initial.py
  apps/ai/models/__init__.py
  apps/ai/models/chat.py
  apps/ai/pydantic_ai/__init__.py
  apps/ai/pydantic_ai/agent/__init__.py
  apps/ai/pydantic_ai/agent/chat.py
  apps/ai/pydantic_ai/agent/simple_tools.py
  apps/ai/pydantic_ai/agent/tools.py
  apps/ai/pydantic_ai/llm/__init__.py
  apps/ai/pydantic_ai/llm/providers.py
  apps/ai/tests/factories.py
  apps/ai/tests/test_e2e_chat.py
  apps/ai/views/chat.py
  apps/ai/views/test_chat.py
Due: django-test-critical

Modernize MCP server implementation with FastMCP
  apps/ai/mcp/README.md
  apps/ai/mcp/server.py
Due: django-test-critical

Add MCP development guide for Django integration
  docs/MCP_DEVELOPMENT_GUIDE.md
Due: none

Simplify MCP guide to focus on Django-specific patterns
  docs/MCP_DEVELOPMENT_GUIDE.md
Due: none

Add documentation philosophy: always move forward
  CLAUDE.md
Due: none

Update dependencies to latest versions
  .pre-commit-config.yaml
  apps/ai/migrations/0001_initial.py
  apps/ai/views/chat.py
  pyproject.toml
  uv.lock
Due: django-test-critical

Update dependencies to latest versions
  uv.lock
Due: none

Update minimum dependency versions for security
  pyproject.toml
Due: none

Add comprehensive safe LLM code execution module
  apps/ai/code_execution/EXAMPLES.md
  apps/ai/code_execution/IMPLEMENTATION_SUMMARY.md
  apps/ai/code_execution/INDEX.md
  apps/ai/code_execution/PRODUCTION_SANDBOX_COMPARISON.md
  apps/ai/code_execution/QUICKSTART.md
  apps/ai/code_execution/README.md
  apps/ai/code_execution/ROADMAP.md
  apps/ai/code_execution/__init__.py
  apps/ai/code_execution/exceptions.py
  apps/ai/code_execution/models.py
  apps/ai/code_execution/sandboxes/__init__.py
  apps/ai/code_execution/sandboxes/base.py
  apps/ai/code_execution/sandboxes/restricted_python.py
  apps/ai/code_execution/services/__init__.py
  apps/ai/code_execution/services/executor.py
  apps/ai/code_execution/tests/__init__.py
  apps/ai/code_execution/tests/test_security.py
  apps/ai/code_execution/validators/__init__.py
  apps/ai/code_execution/validators/ast_validator.py
  apps/ai/code_execution/validators/output_validator.py
  apps/ai/code_execution/validators/syntax_validator.py
  docs/SAFE_LLM_CODE_EXECUTION_ARCHITECTURE.md
Due: django-makemigrations-check, django-test-critical

Add AI application documentation to Sphinx docs site
  docs/sphinx_docs/source/apps/ai.rst
Due: none

Add MCP Skills framework for on-demand MCP server integration
  .claude/commands/mcp-skill.md
  .claude/skills/README.md
  .claude/skills/_base/scripts/mcp_session.py
  .claude/skills/_base/scripts/skill_generator.py
  .claude/skills/chrome-devtools/SKILL.md
  .claude/skills/chrome-devtools/examples/workflows.md
  .claude/skills/chrome-devtools/scripts/chrome_devtools_session.py
  .claude/skills/github/SKILL.md
  .claude/skills/github/examples/workflows.md
  .claude/skills/github/scripts/github_session.py
  .claude/skills/postgres/SKILL.md
  .claude/skills/postgres/examples/workflows.md
  .claude/skills/postgres/scripts/postgres_session.py
  .claude/skills/sentry/SKILL.md
  .claude/skills/sentry/examples/workflows.md
  .claude/skills/sentry/scripts/sentry_session.py
  docs/guides/MCP-SKILLS.md
Due: django-test-critical

Fix documentation build issues
  .github/workflows/docs.yml
  docs/scripts/build_docs_ci_fixed.sh
  docs/sphinx_docs/source/behaviors/index.rst
  docs/sphinx_docs/source/conf.py
Due: django-test-critical

Add documentation link to README and create docs plans
  README.md
  docs/plans/README.md
  docs/plans/ai-app-documentation.md
  docs/plans/behavior-mixins-documentation.md
  docs/plans/htmx-integration-documentation.md
  docs/plans/integrations-documentation.md
  docs/plans/utilities-documentation.md
Due: none

Add comprehensive AI app documentation
  docs/plans/ai-app-documentation.md
  docs/source/guides/ai-features.rst
Due: none

Add comprehensive utilities documentation
  docs/plans/integrations-documentation.md
  docs/plans/utilities-documentation.md
  docs/source/guides/integrations.rst
  docs/sphinx_docs/source/guides/index.rst
  docs/sphinx_docs/source/guides/utilities.rst
  docs/sphinx_docs/source/index.rst
Due: none

Add comprehensive HTMX integration documentation
  docs/plans/behavior-mixins-documentation.md
  docs/plans/htmx-integration-documentation.md
  docs/sphinx_docs/source/guides/htmx-integration.rst
  docs/sphinx_docs/source/guides/index.rst
Due: none

Add comprehensive behavior mixins documentation
  docs/sphinx_docs/source/guides/behavior-mixins.rst
Due: none

Fix 39 critical and high-severity security vulnerabilities in dependencies
  pyproject.toml
  requirements.txt
  uv.lock
Due: none

Create FLUTTER_BACKEND_READINESS.md
  docs/plans/FLUTTER_BACKEND_READINESS.md
Due: none

Apply Black formatting to 7 files failing CI lint check
  apps/ai/code_execution/models.py
  apps/ai/code_execution/sandboxes/restricted_python.py
  apps/ai/code_execution/services/executor.py
  apps/ai/code_execution/tests/test_security.py
  apps/ai/code_execution/validators/output_validator.py
  apps/common/models/upload.py
  apps/common/utilities/compression/image_compresssion.py
Due: django-makemigrations-check, django-test-critical

Add isort dependency and fix import ordering in code_execution module
  apps/ai/code_execution/__init__.py
  apps/ai/code_execution/models.py
  apps/ai/code_execution/sandboxes/restricted_python.py
  apps/ai/code_execution/services/executor.py
  apps/ai/code_execution/tests/test_security.py
  apps/ai/code_execution/validators/__init__.py
  apps/ai/code_execution/validators/output_validator.py
  apps/ai/code_execution/validators/syntax_validator.py
  pyproject.toml
  uv.lock
Due: django-makemigrations-check, django-test-critical

Update frontend and Python dependencies
  apps/public/templates/base.html
  pyproject.toml
  requirements.txt
  static/css/tailwind/package-lock.json
  static/css/tailwind/package.json
  uv.lock
Due: none

Upgrade jQuery 3.7.1 to 4.0.0 slim via jsDelivr CDN
  apps/public/templates/base.html
Due: none

Fix lint issues: remove unused imports, trailing whitespace, and file permissions
  .github/workflows/docs.yml
  apps/ai/code_execution/exceptions.py
  apps/ai/code_execution/models.py
  apps/ai/code_execution/sandboxes/base.py
  apps/ai/code_execution/sandboxes/restricted_python.py
  apps/ai/code_execution/services/executor.py
  apps/ai/code_execution/tests/test_security.py
  apps/ai/code_execution/validators/ast_validator.py
  apps/ai/code_execution/validators/output_validator.py
  apps/ai/code_execution/validators/syntax_validator.py
  apps/common/models/upload.py
  docs/scripts/build_docs_ci_fixed.sh
  docs/sphinx_docs/source/conf.py
Due: django-makemigrations-check, django-test-critical

Add Zed editor setup guide and optional config in setup script
  docs/ZED_SETUP.md
  requirements/setup.sh
Due: none

Add debug toolbar toggle button in footer for local/stage
  apps/common/utilities/django/middleware.py
  apps/public/context_processors.py
  apps/public/templates/layout/footer.html
  settings/base.py
Due: django-test-critical

Upgrade to Django 6.0.2 and fix all compatibility issues
  apps/common/admin.py
  pyproject.toml
  requirements.txt
  uv.lock
Due: django-test-critical

Fix Black formatting in test_security.py
  apps/ai/code_execution/tests/test_security.py
Due: django-test-critical

Fix 7 of 9 remaining dependency vulnerabilities
  pyproject.toml
  requirements.txt
  uv.lock
Due: none

Add reference to work vault for business context
  CLAUDE.md
Due: none

Add debug toolbar toggle button in footer
  apps/common/utilities/django/middleware.py
  apps/public/context_processors.py
  apps/public/templates/layout/footer.html
  settings/base.py
Due: django-test-critical

Fix code review blockers in MCP Skills framework
  .claude/skills/_base/scripts/mcp_session.py
  .claude/skills/_base/scripts/skill_generator.py
  .claude/skills/chrome-devtools/scripts/chrome_devtools_session.py
  .claude/skills/github/scripts/github_session.py
  .claude/skills/postgres/scripts/postgres_session.py
  docs/guides/MCP-SKILLS.md
Due: django-test-critical

Apply Black formatting to all MCP skills Python files
  .claude/skills/_base/scripts/mcp_session.py
  .claude/skills/_base/scripts/skill_generator.py
  .claude/skills/chrome-devtools/scripts/chrome_devtools_session.py
  .claude/skills/github/scripts/github_session.py
  .claude/skills/postgres/scripts/postgres_session.py
  .claude/skills/sentry/scripts/sentry_session.py
Due: django-test-critical

Fix isort import ordering in sentry_session.py
  .claude/skills/sentry/scripts/sentry_session.py
Due: django-test-critical

Add MCP Skills framework for on-demand MCP server integration
  .claude/commands/mcp-skill.md
  .claude/skills/README.md
  .claude/skills/_base/scripts/mcp_session.py
  .claude/skills/_base/scripts/skill_generator.py
  .claude/skills/chrome-devtools/SKILL.md
  .claude/skills/chrome-devtools/examples/workflows.md
  .claude/skills/chrome-devtools/scripts/chrome_devtools_session.py
  .claude/skills/github/SKILL.md
  .claude/skills/github/examples/workflows.md
  .claude/skills/github/scripts/github_session.py
  .claude/skills/postgres/SKILL.md
  .claude/skills/postgres/examples/workflows.md
  .claude/skills/postgres/scripts/postgres_session.py
  .claude/skills/sentry/SKILL.md
  .claude/skills/sentry/examples/workflows.md
  .claude/skills/sentry/scripts/sentry_session.py
  docs/guides/MCP-SKILLS.md
  docs/sphinx_docs/source/apps/ai.rst
Due: django-test-critical

Address PR review follow-ups from issue #26
  .claude/skills/_base/__init__.py
  .claude/skills/_base/scripts/__init__.py
  .claude/skills/_base/scripts/mcp_session.py
  .claude/skills/_base/scripts/skill_generator.py
  .claude/skills/_base/tests/__init__.py
  .claude/skills/_base/tests/test_mcp_skills.py
  .claude/skills/chrome-devtools/scripts/chrome_devtools_session.py
  .claude/skills/github/scripts/github_session.py
  .claude/skills/postgres/scripts/postgres_session.py
  .claude/skills/sentry/scripts/sentry_session.py
  settings/env.py
Due: django-test-critical

Fix PR review follow-ups: tests, thread safety, dotenv, dedup (#26)
  .claude/skills/_base/__init__.py
  .claude/skills/_base/scripts/__init__.py
  .claude/skills/_base/scripts/mcp_session.py
  .claude/skills/_base/scripts/skill_generator.py
  .claude/skills/_base/tests/__init__.py
  .claude/skills/_base/tests/test_mcp_skills.py
  .claude/skills/chrome-devtools/scripts/chrome_devtools_session.py
  .claude/skills/github/scripts/github_session.py
  .claude/skills/postgres/scripts/postgres_session.py
  .claude/skills/sentry/scripts/sentry_session.py
  settings/env.py
Due: django-test-critical
